header {
    text-align: center;
    padding: 1em;
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #00FFFF 0%, rgba(0, 0, 255, 0) 50%, #0000FF 95%);
}
listado-tareas {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}